<div class="container-fluid overall">
    <div class="row">
        <div class="col-12 heads mx-auto">
            <div class="headscolor mx-auto">
                <p>Manage Stock</p>
                <p class="light">Add/Edit Stock</p>
            </div>
            <div class="mat-elevation-z10 create mt-5 mb-5 ">
                <form [formGroup]="mangStockForm" novalidate>
                    <div class="row p-2">
                        <div class="col-lg-1 "><span class="material-icons bar">poll</span></div>
                        <div class="col-lg-2 mt-3">
                            <mat-form-field appearance="outline">
                                <mat-label>Company</mat-label>
                                <mat-select placeholder="Company" formControlName="companyCode" #companyCode>
                                    <mat-option *ngFor="let stock of stockdata" [value]="stock.companyCode">
                                        {{stock.companyCode}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="m['companyCode'].getError('required')!=null">Required Company</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2 mt-3">
                            <mat-form-field appearance="outline">
                                <mat-label>Start Date</mat-label>
                                <input matInput [matDatepicker]="picker1" formControlName="startDate" #startDate placeholder="Start Date" required>
                                <mat-datepicker-toggle matSuffix [for]="picker1">
                                    <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                                <mat-error *ngIf="m['startDate'].getError('required')!=null">Required Start Date</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2 mt-3">
                            <mat-form-field appearance="outline">
                                <mat-label>End Date</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="endDate" #endDate placeholder="End Date" required>
                                <mat-datepicker-toggle matSuffix [for]="picker">
                                    <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-error *ngIf="m['endDate'].getError('required')!=null">Required End Date</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-5">
                            <div class="mt-4">
                                <button type="submit" class="btnsearch btn btn-info" (click)="searchStock(companyCode,startDate,endDate)">
                                    <mat-icon class="icon">search</mat-icon>SEARCH
                                </button>
                            </div>
                            <div class="mt-4"><button class=" btn btn-success btnstock" routerLink="/addstock">
                                    <mat-icon class="icon">add</mat-icon>STOCK
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row p-2" >
                        <div class="col-lg-1"></div>
                        <div class="col-lg-2 ">
                            <mat-form-field appearance="outline">
                                <mat-label>Minimum</mat-label>
                                <input matInput placeholder="Minimum" name="mmm" [value]="this.minimun" disabled >
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2 ">
                            <mat-form-field appearance="outline">
                                <mat-label>Maximum</mat-label>
                                <input matInput placeholder="Maximum" [value]="this.maximum" disabled>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2 ">
                            <mat-form-field appearance="outline">
                                <mat-label>Average</mat-label>
                                <input matInput placeholder="Average" [value]="this.average" type="text" disabled>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-trapped ftable mx-auto">
                        <thead class="tablehead">
                            <tr nowrap>
                                <th>Stock Price</th>
                                <th>Date</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody class="tablebody">
                            <tr *ngFor="let item of averageStock" nowrap>
                                <td>{{item.stockPrice}}</td>
                                <td>{{item.stockDateTime}}</td>
                                <td>{{item.stockTime}}</td>
                            </tr>
                        </tbody>
                        <!-- <div *ngIf="averageStock.length<1" class="cond">
                            <p colspan="3">No Data Available</p>
                        </div> -->
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>