.create{
    width: 97%;
    height: 120px;
    border-radius: 5px;
}

.btncolor{
    float: right ;
    margin-right: 10px;
    margin-top: 41px;

}

.bar{
    color: red;
    margin-top: 35px;
    font-size: 60px;
    padding-left: 10px;
}

.ftable{
    width: 97%;
    text-align: center;
    vertical-align: middle;
    table-layout:fixed;
    /* overflow-y: hidden; */
}

.tablehead{
    border-bottom: 2px solid black;
    color: purple;
    font-size:larger;
    opacity: 0.6;
}

th{
    padding-bottom: 20px;
}

.tablebody{
    border-bottom: 1px solid grey;
}

.del{
color:chocolate;
font-size: 28px;
}

.btnsize{
    border: none;
}

.cond{
	float: left;
}

/* h3.break{
    margin-left: 10px;
    margin-top: 5px;
    height: 45px;   
} */



@media 
only screen and (max-width: 1052px),
(min-device-width: 1050px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Company Code"; }
	td:nth-of-type(2):before { content: "Company Name"; }
	td:nth-of-type(3):before { content: "Company CEO"; }
	td:nth-of-type(4):before { content: "Company Website"; }
	td:nth-of-type(5):before { content: "Stock Exchange"; }
	td:nth-of-type(6):before { content: "Company TurnOver"; }
	td:nth-of-type(7):before { content: "Latest Stock Price"; }

}
 